numpy
scipy
pandas
polars[pandas]
msgpack
opencv-python-headless==4.11.0.86
ffpyplayer
ffmpeg-binaries # ffpyplayer only bundles the ffmpeg binaries we need on Windows, this package also handles MacOS and Linux
natsort
matplotlib
aiopath
pathvalidate
I2MC>=2.2.6
pebble
pycolmap
orjson